<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
				xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
				id="WebApp_ID" version="2.5">
	<servlet>
	    <servlet-name>jersey</servlet-name>
	    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	    <init-param>
	        <param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
	        <param-value>com.sun.jersey.api.container.filter.RolesAllowedResourceFilterFactory</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>jersey</servlet-name>
	    <url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<mime-mapping>
	    <extension>js</extension>
	    <mime-type>text/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
	    <extension>jsp</extension>
	    <mime-type>text/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
	    <extension>zip</extension>
	    <mime-type>application/octet-stream</mime-type>
	</mime-mapping>
	<welcome-file-list>
	    <welcome-file>welcome.html</welcome-file>
	</welcome-file-list>
	<jsp-config />
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>Unsecured Resources</web-resource-name>
	        <url-pattern>/*</url-pattern>
	    </web-resource-collection>
	</security-constraint>
</web-app>